# --- FRONTEND (Streamlit) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: us-central1-docker.pkg.dev/sagan-5/sagan-image-repo/sagan-image:test
        command: ["/opt/venv-frontend/bin/streamlit"]
        args: [
          "run", 
          "app/frontend/main.py", 
          "--server.address", "0.0.0.0",
          "--client.toolbarMode", "hidden"
        ]
        env:
        - name: BACKEND_URL
          value: "http://backend-service:8000"
        ports:
        - containerPort: 8501
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  annotations:
    # NEG for Layer 7 Load Balancing
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 8501
---

# --- BACKEND (FastAPI) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: us-central1-docker.pkg.dev/sagan-5/sagan-image-repo/sagan-image:test
        command: ["/opt/venv-backend/bin/fastapi"]
        args: [
          "run", 
          "app/backend/main.py",  
          "--host", "0.0.0.0"
        ]
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: 
            memory: 
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - port: 8000
      targetPort: 8000
  type: ClusterIP



  



