apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sagan-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.global-static-ip-name: "sagan-ingress-ip"
    networking.gke.io/managed-certificates: "sagan-managed-cert"
    kubernetes.io/ingress.class: "gce"
    networking.gke.io/v1beta1.FrontendConfig: "https-redirect-config"
    kubernetes.io/ingress.allow-http: "true"
spec:
  rules:
  - host: app.wylderhayes.com      
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: frontend-service   
            port:
              number: 80


