apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sagan-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.global-static-ip-name: "sagan-ingress-ip"
    networking.gke.io/managed-certificates: "sagan-managed-cert"
    kubernetes.io/ingress.class: "gce"
    networking.gke.io/v1beta1.FrontendConfig: "https-redirect-config"
    kubernetes.io/ingress.allow-http: "true"
spec:
  defaultBackend:
    service:
      name: sagan-service
      port:
        number: 80
  rules:
  - host: app.wylderhayes.com      
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: sagan-service   
            port:
              number: 80
---
apiVersion: v1
kind: Service
metadata:
  name: sagan-service
  namespace: default
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: ClusterIP 
  selector:
    app: sagan-app
  ports:
  - port: 80
    targetPort: 8000

